@import "../../styles/common.styles.scss";

.category-list-container{
  width: 15vw;
  background-color: #fff;

  .menu-title{
    @include section-title;
    margin-bottom: 20px;
  }

  .category-item{
    color: #777;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    font-size: .8rem;
    span{
      padding: 0px 20px
    }
  }
  .category-item:hover {
    cursor: pointer;
    background-color: rgba($blue-color, .5);
    color: #000;
  }
  .active-category{
    background-color: $blue-color;
    color: #fff;
  }
}