@import "../../styles/common.styles.scss";

.pos-container{
  height: calc(100vh - 61px);
  background-color: #ddd;
  display: flex;

  .item-list-area{
    width: 60vw;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $blue-color;
  }
}