@import "../../styles/common.styles.scss";

.bill-container{
  width: 25vw;
  background-color: #fff;

  .bill-title{
    @include section-title
  }

  .bill-details{
    padding: 5px 10px;
    .bill-header{
      display: grid;
      grid-template-columns: 4fr 2fr 2fr 1fr;
      margin-top: 20px;
      font-size: .8rem;
      letter-spacing: 1px;
      color: $blue-color;
      font-weight: bold;
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
    }
    
    .bill-no-item{
      color: $red-color;
      opacity: .7;
      letter-spacing: 1px;
      font-size: .9rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
      margin-top: 50px;
    }
    .bill-item-details{
      height: 55vh;
      padding-bottom: 10px;
      overflow-y: auto;
      border-bottom: 1px solid #eee;
      .bill-items{
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 1fr;
        padding: 5px 0px;
        font-size: .8rem;
        letter-spacing: 1px;
        color: #777;
        font-weight: bold;
        border-bottom: 1px solid #eee;
  
        .bill-item-quantity{
          span{
            padding: 7px;
          }
          span:hover{
            cursor: pointer;
            background-color: #ddd;
          }
        }
  
        .bill-delete-item{
          img{
            width: 20px;
            opacity: .5;
          }
          img:hover{
            cursor: pointer;
            opacity: .8;
          }
        }
  
      }
    }

    .bill-bottom{
      font-size: .8rem;
      font-weight: bold;
      letter-spacing: 1px;
      color: #777;
      .bill-gst{
        padding: 10px 10px;
        border-bottom: 1px solid #eee;
        span{
          float: right;
        }
      }
      .bill-total{
        padding: 10px 10px;
        border-bottom: 1px solid #eee;
        span{
          color: $blue-color;
          font-size: 1.2rem;
          float: right;
        }
      }
      .bill-button{
        
        padding: 10px 10px;
        display: flex;
        justify-content: space-evenly;
        .bill-clear-button{
          background-color: rgba($red-color,.8);
          color: #fff;
          letter-spacing: 1px;
          border: none;
          border-radius: 10px;
        }
        .bill-bill-button{
          width: 65%;
          background-color: $blue-color;
          letter-spacing: 1px;
          color: #fff;
          padding: 10px 0px;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}