@import "../../styles/common.styles.scss";

.item-list-container{
  width: 60vw;

  .menu-items-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
  }
}
